/* Body Global
--------------------*/
body {
    margin: 0px;
    padding: 0px;

    font-size: 16px;
    font-family: Arial;
    color: black;
}

/* Nav Page
--------------------*/

/* Global Page
--------------------*/


/* Page - início
--------------------*/


/* Page - compras
--------------------*/


/* Page - dispesasfixas
--------------------*/


/* Page - dividascartões
--------------------*/

/* Page - receitas
--------------------*/
