<!DOCTYPE html>
<html lang="pt-br" xmlns: th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CompraLogo</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <div class="nav">
                <a href="/" class="logo">CompraLogo</a>
                <ul>
                    <button onclick="location.href = '/';">INÍCIO</button>
                    <button onclick="location.href = '/compras';">COMPRAS</button>
                    <button onclick="location.href = '/dispesasfixas';">DISPESAS</button>
                    <button onclick="location.href = '/dividascartoes';">DIVIDAS CARTÕES</button>
                    <button onclick="location.href = '/receitas';">RECEITAS</button>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>