<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CompraLogo</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../../style/styles.css">
    <link rel="icon" type="image/png" href="../image/icon.png">
</head>
<body>
    <header th:replace="fragment-header :: header"></header>

    <div class="table">

        <H2>COMPRAS</H2>
        <table border="1">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/page/comercio/' + ${currentPage} + '?sortField=tipoDoComercio&amp;sortDir=' + ${reverseSortDir}}">
                        TIPO DO COMERCIO
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/comercio/' + ${currentPage} + '?sortField=nomeDoComercio&amp;sortDir=' + ${reverseSortDir}}">
                        NOME DO ESTABELICIMENTO
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/comercio/' + ${currentPage} + '?sortField=valorTotalDaCompra&amp;sortDir=' + ${reverseSortDir}}">
                        VALOR TOTAL DA COMPRA
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/comercio/' + ${currentPage} + '?sortField=dataDaCompra&amp;sortDir=' + ${reverseSortDir}}">
                        DATA DA COMPRA
                    </a>
                </th>
                <th>
                    <a>
                        AÇÕES
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercio : ${listaDeComercio}">
                <td>
                    <a th:href="@{/comprasinfo/{id}(id=${comercio.id})}">
                        <span th:text="${comercio.tipoDoComercio}"/>
                    </a>
                </td>
                <td th:text="${comercio.nomeDoComercio}"></td>
                <td th:text="'R$ ' + ${comercio.getValorTotalDaCompraReais()}"></td>
                <td th:text="${comercio.getDataDaCompraBr()}"></td>
                <td>
                    <button th:onclick="'location.href = \'' + @{/comercio/editarcomercio/{id}(id=${comercio.id})} + '\''"><img src="../image/edit.png" class="img-button-action"></button>
                    <button th:onclick="'location.href = \'' + @{/deletarcomercio/{id}(id=${comercio.id})} + '\''"><img src="../image/delete.png" class="img-button-action"></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="div-action-table">
            <div class="list-pagened" th:if="${totalPages > 1}">
                <div class="list-pagened-info">
                    <div>
                        <div id="total-comercio-listacomercio">
                            Total Clientes: [[${totalItems}]]
                        </div>
                    </div>

                    <div>
                        <div>
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/page/comercio/' + ${i}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                            </span>
                        </div>
                        <div id="div-pagened-voltar" th:if="${currentPage >= 2}">
                            <a th:href="@{'/page/comercio/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">Voltar</a>
                            <span th:unless="${currentPage >= totalPages}">Voltar</span>
                        </div>
                        <div>
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/comercio/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">Próxima</a>
                            <span th:unless="${currentPage < totalPages}">Próxima</span>
                        </div>

                        <div style="padding: 0 0 0 10px">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/comercio/' + ${totalPages}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">Última</a>
                            <span th:unless="${currentPage < totalPages}">Última</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-button-add">
                <button class="button-add" th:onclick="'location.href = \'' + @{/comercio/novaCompra}+'\''">ADICIONAR NOVA COMPRA</button>
            </div>
        </div>
    </div>
</body>
</html>