<!DOCTYPE html>
<html lang="pt-br" xmlns: th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CompraLogo</title>
    <link rel="stylesheet"  href="style/styles.css"/>
    <link rel="icon" type="image/png" href="image/icon.png">
</head>
<body>
    <header th:replace="fragment-header :: header"></header>

    <div class="table">
        <table border="1">
            <thead>
            <tr>
                <th>
                    <a>
                        CÓDIGO
                    </a>
                </th>
                <th>
                    <a>
                        DESCRIÇÃO
                    </a>
                </th>
                <th>
                    <a>
                        QUANTIDADE UN.
                    </a>
                </th>
                <th>
                    <a>
                        VALOR DO PRODUTO POR UN./MEDIDA
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${listadeclientes}">
                <td th:text="${cliente.codigo}"></td>
                <td th:text="${cliente.razaoSocial}"></td>
                <td th:text="${cliente.ativoInativo()}"></td>
                <td th:text="${cliente.novoVelho()}"></td>
                <td>
                    <button th:onclick="'location.href = \'' + @{/editarcliente/{id}(id=${cliente.id})} +'\''"><img src="../image/edit.png" class="img-button-action"></button>
                    <button th:onclick="'location.href = \'' + @{/deletarcliente/{id}(id=${cliente.id})}+'\''"><img src="../image/delete.png" class="img-button-action"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>